:root{
  --background-color-primary: #061c23;
  --text-color-primary:#EEF9FC;
  --color-2: #125469; 
  --color-3: #96D9ED;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: "Montserrat", sans-serif;
}

.counter-container{
  min-height: 100vh;
  width: 100vw;
}

.counter-title{
  font-size: 32px;
  font-weight: 500;
  color: var(--color-3);
  height: 200px;
  text-align: center;
  align-content: center;
}